@model DeMoMVCNetCore.Models.TestSearch

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<form asp-controller="Categories" asp-action="Index" method="get">
    <p>
         <select asp-for="CateGenre" asp-items="Model.Genres">
            <option value="">All</option>
        </select>
        Name: <input type="text" asp-for="KeySearch" />
        <input type="submit" value="filter" />
    </p>
</form>
<table class="table">
    <thead>
        <tr>
              <th>
                @Html.DisplayNameFor(model => model.CateTest[0].CategoryID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CateTest[0].CategoryName)
            </th>
             <th>
                @Html.DisplayNameFor(model => model.CateTest[0].quantity)
            </th>
             <th>
                @Html.DisplayNameFor(model => model.CateTest[0].CategoryDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CateTest[0].Categorynote)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.CateTest) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CategoryID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CategoryName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.quantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CategoryDate)
            </td>
              <td>
                @Html.DisplayFor(modelItem => item.Categorynote)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CategoryID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.CategoryID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.CategoryID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
